.main
  %h1#titleh1 Prestige Worldwide

  .max-w-sm.rounded.overflow-hidden.shadow-lg#card
    %img.w-full{alt: "Sunset in the mountains", src: "http://fusioncoedsoccer.com/media/bearleague/bl1477363156652.png"}/
    .px-6.py-4
      .font-bold.text-xl.mb-2 Don't think, just drink!
      %p.text-gray-700.text-base
        Click the 
        %strong
          Login button
        at the top to get started!
    .px-6.py-4
      %span.inline-block.bg-gray-200.rounded-full.px-3.py-1.text-sm.font-semibold.text-gray-900.mr-2 #cocktails
      %span.inline-block.bg-gray-200.rounded-full.px-3.py-1.text-sm.font-semibold.text-gray-900.mr-2 #good-vibes
      %span.inline-block.bg-gray-200.rounded-full.px-3.py-1.text-sm.font-semibold.text-gray-900 #problems
